.header-container {
  display: flex;
  min-height: 200px;
  padding: 30px;
  background: #0726BE;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-container h1 {
  color: #FFF;
  font-size: 63.522px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.header-container p {
  color: #FFF;
  font-size: 23.821px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button-container {
  background: transparent;
  border: none;
  outline: none;
  }